
.container {
	font-family: 'Oswald', sans-serif;
}

.timeline-body > img {
	width:100%;
	/* max-width:300px; */
    margin-top: 5px;
}

.page-header > h1 > img {
	width:20%;
	/* max-width:300px; */
    /* margin-top: 5px; */
}

.timeline-year {
	text-align: right;
}
